<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>冯🐟.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>056526BB1CAA82E400E001DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>056526D41CAA82E400E001DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>056526DF1CAA82E400E001DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
